@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto");
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
html {
  height: 100vh
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    position:relative;
    z-index: 3;
    flex-basis: 60px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    background-color: #3C3C3C;
    color: #FFFFFF;
}
header .header-logo {
    height: 50px;
    margin: 5px 30px;
}
header .header-logo h1 {
    font-size: 24px;
    line-height: 30px;
}
header .header-logo p {
    font-size: 12px;
    line-height: 20px;
}
header .header-about a {
  color: white;
  position: absolute;
  top: 20px;
  left: 92%;
  text-decoration-line: none;
}
header .header-about a:hover {
  color: gray;
}
main {
  height:100%
}

/*
 *    RESULTS
 */
 .results {
   flex-basis: 25%;
   /* background-color: #BCBCBC; */
   box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
 }
.results-header {

}
